<div class="pt-5 px-5" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last justify-content-center">
                <svg viewBox="0 0 270 237" width="270" height="237" class="mb-4 m-auto d-block">
                    <rect
                        style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-opacity: 0; stroke-linejoin: round; fill: rgb(228, 194, 128);"
                        x="90" y="0" width="180" height="180" rx="32" ry="32"></rect>
                    <rect
                        style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-opacity: 0; stroke-linejoin: round; fill: rgb(192, 107, 27);"
                        x="0" y="57" width="180" height="180" rx="32" ry="32"></rect>
                    <ellipse style="stroke: rgb(0, 0, 0); stroke-opacity: 0; paint-order: fill; fill: rgb(109, 30, 20);"
                        cx="210" cy="177" rx="60" ry="60"></ellipse>
                </svg>
            </div>
            <div class="col-md-7">
                <h1 class="mb-3 fw-semibold lh-1">
                    One Bot - Many features
                </h1>
                <p class="lead mb-4">
                    An open-source Discord bot with great set of features including music, levels, moderation,
                    economy and more!
                </p>
                <p class="lead mb-4">
                    Enhance your Discord server by adding only one bot.
                </p>
                <p>
                    <a href="/invite" class="text-decoration-none">
                        <button class="btn btn-primary m-0 me-2 mb-1" type="button">Add To Server</button>
                    </a>
                    <% if (config.bot.about.repo) { %>
                        <a href="<%= config.bot.about.repo %>" class="text-decoration-none">
                            <button class="btn btn-outline-primary m-0 mb-1" type="button">Source Code</button>
                        </a>
                        <% } %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pb-5" id="stats">
    <div class="circle-separator">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container-xxl">
        <div class="col-md-9 mx-auto text-center">
            <h3 class="mt-4 mb-5 fw-semibold lh-1">
                Bot Statistics
            </h3>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="stat_block mx-1">
                        <span class="stat_value">
                            <%= stats.commands_executed + stats.slash_commands %>
                        </span><br />
                        <span class="stat_name"><i class="fa-solid fa-terminal me-1"></i> Commands</span>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="stat_block mx-1">
                        <span class="stat_value">
                            <%= stats.servers %>
                        </span><br />
                        <span class="stat_name"><i class="fa-solid fa-server me-1"></i> Servers</span>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="stat_block mx-1">
                        <span class="stat_value">
                            <%= stats.users %>
                        </span><br />
                        <span class="stat_name"><i class="fa-solid fa-user me-1"></i> Users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" id="features">
    <div class="container-xxl">
        <div class="col-md-9 mx-auto">
            <h3 class="mb-5 fw-semibold lh-1 text-center">
                Features
            </h3>
            <div class="container-xxl">
                <div class="row my-4 align-items-center">
                    <div class="col-md-6 text-center px-1 mb-3">
                        <img src="https://images.placeholders.dev/?width=350&height=200" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="feature_block text-left-md">
                            <h4 class="feature_name">Music</h4>
                            <p class="feature_description">
                                Play any music you like in a voice channel from almost any streaming platform
                                like YouTube, SoundCloud, Spotify and more!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-md-6 order-md-last text-center px-1 mb-3">
                        <img src="https://images.placeholders.dev/?width=350&height=200" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="feature_block text-right-md">
                            <h4 class="feature_name">Moderation</h4>
                            <p class="feature_description">
                                Keep your chat clean and secure by using moderation commands and automod module
                                to punish those who break the rules.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-md-6 text-center px-1 mb-3">
                        <img src="https://images.placeholders.dev/?width=350&height=200" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="feature_block text-left-md">
                            <h4 class="feature_name">Levels</h4>
                            <p class="feature_description">
                                Rate the members of your server by their activity using the XP system, where
                                each user advances their level by sending messages.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-md-6 order-md-last text-center px-1 mb-3">
                        <img src="https://images.placeholders.dev/?width=350&height=200" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="feature_block text-right-md">
                            <h4 class="feature_name">Economy & Fun</h4>
                            <p class="feature_description">
                                Enjoy many minigames to have fun with your friends. Collect virtual money to
                                spend them in casino or even open some cases.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" id="docs">
    <div class="container-xxl">
        <div class="col-md-8 mx-auto text-center">
            <h3 class="mb-3 fw-semibold lh-1">
                Visit documentation to learn how to use the bot
            </h3>
            <p class="lead">
                Get information about every command and module
                to maximize your usage
            </p>
            <a href="/docs" class="text-decoration-none">
                <button class="btn btn-primary m-0" type="button">Open Docs</button>
            </a>
        </div>
    </div>
</div>